<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appgrouplab.evaluometro.appmovil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".visor"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".visorLogueado"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detalleVisor"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inicio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registro"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listado"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detalle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".acerca"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cerrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visorPdf"
            android:label="@string/title_activity_visor_pdf" />
        <activity
            android:name=".Candidato.candidato_educacion"
            android:screenOrientation="portrait" />
        <activity android:name=".Candidato.candidato_sentencia"
            android:screenOrientation="portrait" />
        <activity android:name=".Candidato.candidato_trabajo"
            android:screenOrientation="portrait" />
        <activity android:name=".Candidato.candidato_partido"
            android:screenOrientation="portrait" />
    </application>

</manifest>